#footer-container{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: rgb(230, 54, 54);
}
.unorderedList{
    align-items: center;
    margin: 3px auto;
    font-size: 20px;
    flex-wrap: wrap;
}
.unorderedList li{
    list-style: none;
}
.unorderedList li a{
    background-color: rgb(230, 54, 54);
    cursor: pointer;
    margin: 0 50px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}
.unorderedList li a:hover{
    background-color: rgb(114, 48, 48);
}
/*responsive*/

@media screen and (max-width:900px) {
    .unorderedList{
        font-size: 15px;
    }
}