.options-container{
    padding: 200px 0;
}
.options-container button{
    width: 200px;
    height: 50px;
    margin: 0 50px;
}
.result-container{
    margin: 50px 0;
}
.result-container p{
    font-size: 25px;
}
.green{
    color: green;
}
.red{
    color: red;
}